Checks: "-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-avoid-c-arrays,-modernize-use-trailing-return-type,-cppcoreguidelines-pro-type-member-init,-cppcoreguidelines-avoid-do-while"
WarningsAsErrors: "modernize-use-nullptr"
FormatStyle: file
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: "NULL"
  - key: cppcoreguidelines-owning-memory.LegacyResourceProducers
    value: "malloc,calloc,realloc"
